<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" as="image" href="/image/background.jpg">
    <link rel="stylesheet" href="/css/style.css">
    <title>Dashbaord</title>

    <style>
        body {
            background-color: rgba(0, 0, 0, 0.3);
            background-image: url("/image/background.jpg");
            background-size: cover;
            background-blend-mode: multiply;
        }
    </style>
</head>
<body>
    <!-- Topnav -->
    <div class="h-24 w-full justify-between flex items-center px-12">
        <img src="/image/logo.png" alt="" class="h-56 pt-5">
        <div class="flex gap-5">
            <div class="">
                <img src="/image/Notif-removebg-preview.png" alt="" class="h-10">
            </div>
            <div class="">
                <img src="/image/Untitled_design__8_-removebg-preview.png" alt="" class="h-10">
            </div>
        </div>
    </div>


    <div class="h-[calc(97vh-96px)] w-full gap-5 px-12 flex">
        <!-- Sidenav -->
        <div class="w-60 h-full flex justify-center items-center flex-col gap-16">
            <a href="/dashboard.html" class="btn ">Dashboard</a>
            <a href="/menulist.html" class="btn">Menu List</a>
            <a href="" class="btn active">Order List</a>
        </div>
        

        <div class="flex-1 flex flex-col bg-slate-100/50 overflow-y-auto relative">
            <table class="">
                <thead class="sticky top-0 bg-neutral-900 text-white">
                    <tr>
                        <th>Customer Name</th>
                        <th>Date/Time Ordered</th>
                        <th>Payment Method</th>
                        <th class="flex items-center gap-1 justify-center cursor-pointer">Status 
                            <svg xmlns="http://www.w3.org/2000/svg" class="bi
                            bi-chevron-down w-4" viewBox="0 0 16 16">
                                <path class="w-5 fill-white" fill-rule="evenodd"
                                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                            </svg></th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Louie Abad</td>
                        <td>2023-06-11 10:06:02</td>
                        <td>Cash</td>
                        <td>Pending</td>
                        <td>
                            <a href="" class="underline">View Details</a>
                        </td>
                    </tr>

                    <tr>
                        <td>Louie Abad</td>
                        <td>2023-06-11 10:06:02</td>
                        <td>Cash</td>
                        <td>Pending</td>
                        <td>
                            <a href="" class="underline">View Details</a>
                        </td>
                    </tr>

                    <tr>
                        <td>Louie Abad</td>
                        <td>2023-06-11 10:06:02</td>
                        <td>Cash</td>
                        <td>Pending</td>
                        <td>
                            <a href="" class="underline">View Details</a>
                        </td>
                    </tr>

                    <tr>
                        <td>Louie Abad</td>
                        <td>2023-06-11 10:06:02</td>
                        <td>Cash</td>
                        <td>Pending</td>
                        <td>
                            <a href="" class="underline">View Details</a>
                        </td>
                    </tr>

                    <tr>
                        <td>Louie Abad</td>
                        <td>2023-06-11 10:06:02</td>
                        <td>Cash</td>
                        <td>Pending</td>
                        <td>
                            <a href="" class="underline">View Details</a>
                        </td>
                    </tr>

                    <tr>
                        <td>Louie Abad</td>
                        <td>2023-06-11 10:06:02</td>
                        <td>Cash</td>
                        <td>Pending</td>
                        <td>
                            <a href="" class="underline">View Details</a>
                        </td>
                    </tr>

                    <tr>
                        <td>Louie Abad</td>
                        <td>2023-06-11 10:06:02</td>
                        <td>Cash</td>
                        <td>Pending</td>
                        <td>
                            <a href="" class="underline">View Details</a>
                        </td>
                    </tr>

                    <tr>
                        <td>Louie Abad</td>
                        <td>2023-06-11 10:06:02</td>
                        <td>Cash</td>
                        <td>Pending</td>
                        <td>
                            <a href="" class="underline">View Details</a>
                        </td>
                    </tr>

                    <tr>
                        <td>Louie Abad</td>
                        <td>2023-06-11 10:06:02</td>
                        <td>Cash</td>
                        <td>Pending</td>
                        <td>
                            <a href="" class="underline">View Details</a>
                        </td>
                    </tr>

                    <tr>
                        <td>Louie Abad</td>
                        <td>2023-06-11 10:06:02</td>
                        <td>Cash</td>
                        <td>Pending</td>
                        <td>
                            <a href="" class="underline">View Details</a>
                        </td>
                    </tr>

                    <tr>
                        <td>Louie Abad</td>
                        <td>2023-06-11 10:06:02</td>
                        <td>Cash</td>
                        <td>Pending</td>
                        <td>
                            <a href="" class="underline">View Details</a>
                        </td>
                    </tr>

                    <tr>
                        <td>Louie Abad</td>
                        <td>2023-06-11 10:06:02</td>
                        <td>Cash</td>
                        <td>Pending</td>
                        <td>
                            <a href="" class="underline">View Details</a>
                        </td>
                    </tr>

                </tbody>

            </table>
        </div>
    </div>
</body>
</html>